{% extends 'base.html.twig' %}

{% block title %}😎 Registrate!
{% endblock %}

{% block body %}

	{% for msg in app.flashes('exito') %}
		<div class="alert alert-success">
			{{msg}}
		</div>
	{% endfor %}
	{% for msg in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{msg}}
		</div>
	{% endfor %}

	{{form(formulario)}}{% endblock %}
